/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Tektur:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-brand-dark text-brand-gray-light font-sans antialiased; */
  @apply bg-brand-black text-brand-gray-light font-sans antialiased;
  /* Add the background pattern */
  background-image: url('/path/to/your/pattern.svg'); /* Adjust path */
  background-repeat: repeat;
  /* Optional: Adjust size if needed */
  /* background-size: 50px 50px; */
}

/* Ensure content is visually above the pattern if needed, though usually not necessary */
#root > div { /* Target the main App container */
   position: relative;
   z-index: 1;
}




@keyframes scroll-left {
  0% {
    transform: translateX(0); /* Start at the original position */
  }
  100% {
    transform: translateX(-50%); /* Move left by 50% of the container's width */
   }
}

.animate-scroll-left {
    animation: scroll-left 40s linear infinite;
}